[package]
name = "yeelight"
version = "0.2.0"
authors = ["Leixb <abone9999@gmail.com>"]
edition = "2018"
description = "Rust API bindings for yeelight WiFi Light Inter-Operation"
documentation = "https://docs.rs/yeelight"
readme = "./README.md"
repository = "https://github.com/leixb/yeelight"
license = "MIT"
keywords = ["yeelight", "iot", "api"]
categories = ["api-bindings"]

[dependencies]
serde = { version= "1.0.112", features = ["derive"] }
serde_json = "1.0"
convert_case = { version="0.4.0", optional=true }

[features]
from-str = ["convert_case"]
